.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-title {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(228, 236, 124);
}

.criteria-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 25px;
    background-color: bisque;
    width: 73%;
    border-radius: 5px;
    border: solid 2px;
    border-color: white;
}

.criteria,
.sort-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkslateblue;
}

.criteria {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.criteria:hover {
    font-style: italic;
}

.active-criteria {
    font-style: italic;
    color: crimson;
}

.center-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.no-italics {
    font-style: normal;
}

.home-description {
    color: brown;
}

.home-link {
    font-style: italic;
    color: coral;
    text-decoration: none;
}