input[type=file] {
    display: none;
}

.image {
    color: white;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    background-color: #26d9b2;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 35px;
    color: #05362c;
    font-weight: bold;
    border: 1px solid;
    border-color: #26d9b2;
}

.image:hover {
    cursor: pointer;
}

.image:hover {
    border-color: #05362c;
}

.grid {
    display: grid;
}